<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<!--2Dlive-->
<div class="waifu" id="waifu">
<div class="waifu-tips" style="opacity: 1;"></div>
  <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
  <div class="waifu-tool">
    <span class="fui-home"></span>
    <span class="fui-chat"></span>
    <span class="fui-eye"></span>
    <span class="fui-user"></span>
    <span class="fui-photo"></span>
    <span class="fui-info-circle"></span>
    <span class="fui-cross"></span>
  </div>
</div>
<script src="https://www.zhenwu.xyz/simple/assets/live2d/live2d.min.js"></script>
<script src="https://www.zhenwu.xyz/simple/assets/live2d/waifu-tips.js"></script>
<script type="text/javascript">initModel()</script>

<link rel="stylesheet" type="text/css" href="https://www.zhenwu.xyz/simple/assets/live2d/flat-ui.min.css"/>

