
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="http://www.zhenwu.xyz/matjek/">回到花里胡哨版</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}">标签</a></li>
      <li><a href="{{ '/categories' | prepend: site.baseurl | prepend: site.url }}">归档</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">关于我</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li>
      <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2627362065&site=qq&menu=yes" target="_blank" onclick="show_talk()">QQ联系</a></li>
    </ul>
  </div>
</nav>
<!--2Dlive-->
<div class="waifu" id="waifu">
<div class="waifu-tips" style="opacity: 1;"></div>
<canvas id="live2d" width="280" height="250" class="live2d"></canvas>
<div class="waifu-tool">
<span class="fui-home"></span>
<span class="fui-chat"></span>
<span class="fui-eye"></span>
<span class="fui-user"></span>
<span class="fui-photo"></span>
<span class="fui-info-circle"></span>
<span class="fui-cross"></span>
</div>
</div>
<script src="/assets/live2d/live2d.min.js"></script>
<script src="/assets/live2d/waifu-tips.js"></script>
<script type="text/javascript">initModel()</script>
