
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li class="home"><a href="http://zhenwu99.github.io/">回到主页</a></li>
      <li class="tags"><a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}">标签</a></li>
      <li class="categories"><a href="{{ '/categories' | prepend: site.baseurl | prepend: site.url }}">归档</a></li>
      <li class="aboutme"><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">关于我</a></li>
      <li class="menu-follow"><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li>
      <li class="call"><a href="http://wpa.qq.com/msgrd?v=3&uin=2627362065&site=qq&menu=yes" target="_blank" onclick="show_talk()">QQ联系</a></li>
    </ul>
  </div>
</nav>

<script type="text/javascript" src="https://www.zhenwu.xyz/simple/assets/canvas-nest.min.js"></script>
